body {
    background-image: url(background.jpg);
}

* {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.date-heading {
    text-align: center;
}
table,td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    font-size: 10pt;
}
td.person-name {
    font-weight: bold;
}
select {
    border-width: 0;
}
select[value='IN_OFFICE'] {
    background-color: white;
}
select[value='WORKING_FROM_HOME'] {
    background-color: yellow;
    color: yellow;
}
select[value='VACATION'] {
    background-color: red;
    color: red;
}
select[value='TRAINING'] {
    background-color: white;
    color: white;
}
h1 {
    text-align: center;
    font-family: impact;
    font-size: 42pt;
    font-weight: normal;
    width: 900px;
}
.date-nav {
    text-align: center;
    margin-bottom: 20px;
    width: 900px;
}
    